/*font-family du projet :
 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    
*{
    padding: 0;
    margin: 0;
    background-color:  beige;}

#section1home {
    width: auto;
    height: auto;
    padding: 0.9%;
    margin: 3%;
    background-color: rgb(43, 195, 206);
    border: 2px solid black;}

.navbar .homenav{
    display: flex;
    flex-direction: row;
    font-size: 0.35cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.section2allpage {
    border: 2px solid green;}

.section3{
    margin: 0.2;
    padding: 4%;
    border:1px solid red;
    
}

/*.header h1 {
    

}
.info p {}

*/
.logo{
    display: flex;
    justify-content: center;
    border: none;
    flex-direction: row;
  
}
.logovan {
    
    border: none;
    width: 70%;
    max-height: auto;
    display: flex;
    justify-content: center;    
}
.stylebutton {
    border: none;
    width: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(42, 165, 73);   
    font-size: 18px; 
    border-radius: 15%;
    padding: 0.6em;
    margin: 0.25em;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

}
    

.section4{
    margin: 0;
    padding: 0;
    border:1px solid yellow;
    display: flex;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
    flex-direction: column;
}


.section5 {
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

   
.img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0.5em;
    border-radius: 12%;
}

    




