/*navbar*/
.navbar {
    background-color: black;
  
    width: auto;
    padding: 1em;
    margin: -0.5em;
    box-sizing: content-box;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
}
/*header*/
.section1home{
 

}
.item {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    
}
.item2 {
    color: blue;
    text-decoration: none;
    font-size: 12px;
    

}
.info {
    font-size: small;
    text-align: left;
}
.small {
    font-size: small;
}
.item3{
    font-size: small;
    text-decoration: none;
    color: blue;
}
.auteur {
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0 11em 0 0;
   
}
.auteur1{
    text-decoration: none;
    color: blue;
}

/* body firstbox */



/* content paragraph */ 



/* footer */ 

     /* Responsive layout - makes a one column-layout instead of two-column layout */
     @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
          
        }
        
      }

      @media (max-width: 1200px) {
        .flex-container {
          flex-direction: column;
        }
      }
      

